* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* background: linear-gradient(90deg, rgba(253, 134, 29, 1) 0%, rgba(247, 229, 30, 1) 100%); */
    background: black;
    color: #fcba05;
}

h1,
h2,
h3 {
    color: #fcba05;
    font-weight: 800;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem auto;
    width: 800px;
    min-height: 500px;
    background-color: #333;
    padding: 2rem;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: #fcba05;
    gap: 2rem;
    font-size: 18px;
}

.round-scores {
    display: flex;
    gap: 3rem;
}

.score {
    border: 1px solid #fcba05;
    padding: 1rem;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
}

.choices {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.btn-choice {
    cursor: pointer;
    padding: 1rem 1rem;
    background-color: #fcba05;
    width: 150px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    border: none;
    border-radius: 4px;
}

.btn-choice:hover {
    background-color: #f7a102;
}

.result {
    padding: 1rem;
    text-align: center;
    font-size: 18px;
}